{% extends "base.html" %}

{% block content %}
<p class="masthead-subheading font-weight-light mb-0">
    Congrats, you found this... clock...
    <br>
    Here's a number for the code:
</p>
<h1>9</h1>
<p class="masthead-subheading font-weight-light mb-0">
    Let's keep going!
    <br>
    Note: Certain nodes may have more than 1 route. Please choose one hint to continue. 
</p>
{% endblock %}

{% block body %}
<p class="masthead-subheading font-weight-light text-secondary mb-0">
Trail 1: <br>
I’m where the clock ticks, but time slows down,
A space where plans grow, and ideas are found.
I’m not for rest, but for work and for fun,
A place for your group to get things done.
<br><br>
Trail 2: <br>
I’m where you pause to regain your might,
With choices to bring you sheer delight.
A place of flavors, both cold and warm,
I help you recharge and weather the storm.
</p>
{% endblock %}