{% extends "base.html" %}

{% block content %}
<p class="masthead-subheading font-weight-light mb-0">
    Incredible, don't mind me..
    <br>
    Here's a number for the code:
</p>
<h1>2</h1>
<p class="masthead-subheading font-weight-light mb-0">
wheeeeeeeeeeeeeee
</p>
{% endblock %}

{% block body %}
<p class="masthead-subheading font-weight-light text-secondary mb-0">
    Although the code is not here, <br>
    It's like kinda here <br>
    Certainly, it's gonna be tough, <br>
    <br>
    Perhaps you thought it's gonna be easy? <br>
    Help could be given but like <br>
    On the other hand, <br>
    Not so fast heh <br>
    Effectively, the answer is right here
    <br>
    <br>
    P.S. I have 4 assignments and an exam the next when I coded this <br>
    P.P.S Please never backlog your tasks
    </p>
{% endblock %}