{% extends "base.html" %}

{% block content %}
<p class="masthead-subheading font-weight-light mb-0">
    Well well well, you're back, but this ain't the end, go find or smt idk
    <br>
    Here's a number for the code:
</p>
<h1>2</h1>
<p class="masthead-subheading font-weight-light mb-0">

</p>
{% endblock %}

{% block body %}
<p class="masthead-subheading font-weight-light text-secondary mb-0">
I’ve no hands, but I deliver, <br>
Quick and simple, no need to quiver. <br>
Yet I hold the key to what you seek, <br>
A moment’s delay, a chance to peek.
</p>
{% endblock %}