{% extends "base.html" %}

{% block content %}
<p class="masthead-subheading font-weight-light mb-0">
    Welcome to the treasure hunt element of Bonding Day!
    <br>
    As briefed, QR codes are located throughout the block. 
    <br>
    Your goal is to follow the crumb trail with the help of the hints. 
    <br>
    The end goal is to form up a code in the numeric format XXXXX. 
    <br>
    Feel free to approach us for help if you can't figure it out. Good luck!
</p>

{% endblock %}

{% block body %}
<p class="masthead-subheading font-weight-light text-secondary mb-0">
    "What almost moves, yet stands so still,
    Marking moments with iron will?
    It has no legs but runs all day,
    Silently guiding, come what may."
</p>
{% endblock %}