<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Starting Point</title>
</head>
<body>
    <p>Hello there. Did you know that white text on white backgrounds exist?</p>
    <p>Here's the first hint:</p>
    <p class="white">
    I stand tall, silent, and strong,
     Holding burdens all day long.
     Though I don’t move, I never tire,
     A steadfast guard you can admire.
    </p>
</body>
</html>