{% extends "base.html" %}

{% block content %}
<p class="masthead-subheading font-weight-light mb-0">
    top text
    <br>
    Here's a number for the code:
</p>
<h1>2</h1>
<p class="masthead-subheading font-weight-light mb-0">
    bottom_text.exe not found
</p>
{% endblock %}

{% block body %}
<p class="masthead-subheading font-weight-light text-secondary mb-0">
I’m the silent worker beneath your gaze, <br>
I respond to touch in a myriad of ways. <br>
I’m not the brain, but I help you write, <br>
Without me, you’d struggle to take flight.
</p>
{% endblock %}