{% extends "base.html" %}

{% block content %}
<p class="masthead-subheading font-weight-light mb-0">
    Congrats on finding the club room, uh...
    <br>
    Here's a number for the code:
</p>
<h1>1</h1>
<p class="masthead-subheading font-weight-light mb-0">
    A couple more to go :3
</p>
{% endblock %}

{% block body %}
<p class="masthead-subheading font-weight-light text-secondary mb-0">
Trail 1: <br>
I have no legs, yet I climb, <br>
I take you up and down in time. <br>
With buttons pressed, I start to go, <br>
Serving all, high and low.
<br><br>
Trail 2: <br>
I’m the room where you come to take part, <br>
Where conversations flow and ideas start. <br>
I’m not for resting or staying still, <br>
But for joining, learning, and using your skill.
</p>
{% endblock %}